@font-face {
  font-family: 'pokemon-font';
  src: url('pokemon-font.woff2');
}

canvas {
  position: absolute;
}

.nugget-text{
  color: #f0f0f0;
  font-family: "pokemon-font", monospace;
  border: 2mm double;
  border-radius: 6px;
  position: fixed;
  z-index: 1000;

  font-size: 14px;
  line-height: 50px;
  padding: 4px 10px 0px;
  max-width: 1000px;
  height: calc(50px * 2);

  top: 90%;
  left: 50%;
  transform: translateY(-90%) translateX(-50%);
  width: 80%;
  overflow: hidden;

  @media (min-width: 519px) {
    line-height: 70px;
    font-size: 30px;
    padding: 10px 16px 4px;
    height: calc(70px * 2);
  }
  @media (min-width: 959px) {
    line-height: 110px;
    font-size: 46px;
    height: calc(110px * 2);
  }
}

#typing-animation{
  position: relative;
  animation-duration: 0.03s;
  animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes moveUp {
  to {
    transform:translateY(-50px);
  }
}
@keyframes moveUpTablet {
  to {
    transform:translateY(-70px);
  }
}
@keyframes moveUpPc {
  to {
    transform:translateY(-110px);
  }
}

