@font-face {
  font-family: 'pokemon-font';
  src: url('pokemon-font.woff2');
}

canvas {
  position: absolute;
}

.nugget-text{
  color: #f0f0f0;
  font-family: "pokemon-font", monospace;
  border: 2mm double;
  border-radius: 6px;
  position: fixed;
  z-index: 1000;

  font-size: 18px;
  line-height: 50px;
  padding: 12px 10px 2px;
  max-width: 1000px;

  top: 90%;
  left: 50%;
  transform: translateY(-90%) translateX(-50%);
  width: 80%;

  @media (min-width: 519px) {
    line-height: 70px;
    font-size: 30px;
    padding: 20px 20px 5px;
  }
  @media (min-width: 959px) {
    line-height: 110px;
    font-size: 50px;
    
  }
}
